---
import BaseLayout from '../layouts/BaseLayout.astro';
import AboutHeroSection from '../components/about/hero/AboutHeroSection.astro';
import { site } from '../config/content';
---
<BaseLayout title="About" description={`Learn more about ${site.name}`}>
  <div class="space-y-16 sm:space-y-20">
    <AboutHeroSection />
  </div>
</BaseLayout>
